body{
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#clicked{
    padding: 5px 5px;
    font-size: 1em;
    color: white;
    background-color: rgb(227, 24, 187);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}
#clicked:hover{
    background-color: blueviolet;
}