
body{
    background-image: url("Wallp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}
#timec{
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100vh;
}
#clock{
    font-size: 6.0em;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    color: rgb(89, 37, 233);
    backdrop-filter: blur(15px);
    background-color: hsla(0, 83%, 38%, 0.1);
    width: 100%;
}